body {
    background-color: lightgrey;
}

.site-panel {
    margin: 10px 20px;
}

.rounded {
    outline-width: 2px;
    outline-color: darkgrey;
    border-radius: 15px;
    box-shadow: 0 0 8px darkslategray;
}

.top-margin {
    margin-top: 100px;
}