/* Site defaults */

p {
	font-size: 120%;
}

p, div, h1, h2, h3, h4, h5, h6 {
	font-weight: lighter;
	text-align: center;
	margin: auto;
}

.img {
	width: auto;
	height: auto;
}

p.blog {
	text-indent: 4em;
}

.navbar {
	border-bottom: 2px solid #111111;
}

.footer {
	border-top: 2px solid #111111;
}

/* Blog previews */

p.preview {
	position: relative;
}

p.preview:after {
	margin: 0;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	content: "";
	pointer-events: none;
	background: linear-gradient(to bottom, transparent, white);
}

/* Links and buttons */

a.btn {
	width: 50%;
	margin: auto;
	border-radius: 0px;
	transition-duration: 0.18s;
}

a.footer-link {
	color: gray;
	text-decoration: none;
}

a.footer-link:hover {
	color: lightgray;
	text-decoration: none;
}

a.blue-link {
	text-decoration: none;
}

a.blue-link:hover {
	color: blue;
	text-decoration: none;
}

/* Bootstrap modifications */

.card:hover {
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transition-duration: 0.25s;
}

.carousel {
	border: 2px solid #111111;
}

.prev-black {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.next-black {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* Animations */

#page-title {
	animation: fade-in 4s;
}

@keyframes fade-in {
	from { opacity: 0 }
	to { opacity: 1 }
}