body {
    padding: 1vh 1vw;
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 14px;
    text-align: center;
}

button {
    font-family: monospace;
    font-size: 14px;
    transition-duration: 0.5s;
    text-decoration: none;
    cursor: pointer;
}

#title-text {
    font-size: 36px;
}

#main-display {
    width: 40vw;
    height: 500px;
    min-width: 500px;
    display: inline-block;
}

#canvas-container {
    width: 500px;
    height: 500px;
    margin: auto;
    outline: 1px solid #666666;
}

#thebitspud {
	color: lightblue;
	text-decoration: none;
}

#thebitspud:hover {
	color: steelblue;
	text-decoration: none;
}

.side-div {
    width: 26vw;
    height: 500px;
    min-width: 220px;
    padding: 0px 5px;
    display: inline-block;
    vertical-align: top;
}

.def-btn {
    background-color: white;
    border-radius: 2px;
    padding: 5px 10px;
    margin: 8px 5px 0px;
    min-width: 200px;
}

.def-btn:hover {
    background-color: #bbbbbb;
}